@myBlue: rgb(33, 151, 206);
body {
    font-size:12px;
    // font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-family: 'Roboto', sans-serif;
    width:100%;
    margin:0;
    overflow-x:hidden;
}

a{
    color:#aaa;
    text-decoration:none;
    font-weight:400;
}
a:hover {
    color:#222;
}

.fixed {
    position:fixed;
}

.container {
    overflow-x:hidden;
    box-sizing: content-box;
    width:100%;  
    display:flex;
    flex-direction:row;
    // border:1px solid #00f;
    .left-panel {
        // width:300px;
        flex:0 0 240px;
        padding:40px;
        .title {
            font-size:25px;
            padding-bottom:40px;
            .fullname{
                font-weight:500;
            }
        }
        .nav{
            padding-bottom:20px;
            ul{
                margin:0; padding:0; 
                list-style:none;
                li{
                    list-style:none;
                    padding-bottom:16px;
                    a{
                        font-size:16px;
                    }
                }
            }
        }
        .profile{
            img {
                width:250px; height:250px;
                border-radius:50%;
                margin-left:-80px;
            }
        }
    }
    .mid-panel {
        // width:400px;
        flex: 1 1 0;
        // border:1px solid #0f0;
        padding:104px 100px 40px 0;
        .introduction {
            // margin-right:100px;
            // border:1px solid #f00;
            font-size:14px;
            line-height: 1.7em;
            a {
                color:@myBlue;
                font-weight:500;
            }
        }
        .section:first-child{
            padding-top:0;
        }
        .section {
            padding-top:30px;
            .title { 
                font-size:21px;
                color:#444;
                margin-bottom:8px;
            }
            .content {
                font-size:14px;
                line-height: 1.8em;
                a { 
                    color:@myBlue;
                    font-weight:500;
                }
            }
            ul{
                margin:0; padding:0;
                li{
                    margin-top:16px;
                    list-style: none;
                    font-size:14px;
                    .date{
                        display:inline-block;
                        margin-right:8px;
                        font-weight:600;
                        color:#aaa;
                    }
                    .description {
                        display:inline-block;

                    }
                }
            }
            ul.with-bullets {
                margin:16px; padding:0;
                li {
                    list-style-type:circle;
                }
            }
            
        }
    }

    .publications {
        .bib-item {
            .title{
                display:inline-block;
                font-size:16px;
                font-weight:700;
                color:#555;
            }
            .tag {
                display:inline-block;
                border-radius:4px; 
                vertical-align: top;
                border:1px solid @myBlue;
                color:@myBlue;
                font-size:10px;
                margin-left:8px;
                padding:1px 3px;
            }
            .authors{
                display:block;
                font-weight:300;
                font-size:12px;
                color:#222;
                em {
                    font-style:normal;
                    font-weight:500;
                }
            }
            .description{
                display:block;
                font-weight:300;
                font-size:12px;
                font-style:italic;
                color:#222;
            }
        }
    }
    .project_container {
        .project {
            position: relative;
            float: left;
            width: 500px;
            height: 120px;
            padding: 5px;
            margin: 0px 35px 20px 0px;
            background-color: #fff;
            .pr_image {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 200px;
                height: 130px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .pr_desc {
                position: absolute;
                top: -3px;
                left: 212px;
                right: 0px;
                padding: 0px;
                background-color: #fff;
                color: #000;
                z-index: 5;
            }            
            .pr_title {
                margin: 0px;
                font-size: 17px;
                font-weight: 450;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: inherit;
                }
                .pr_date {
                    margin-left: 8px;
                    font-size: 12px;
                    font-weight: 300;
                    font-style: italic;
                }
            }
            .pr_subtitle {
                margin-top: 2px;
                font-size: 13px;
                font-weight: 400;
                line-height: 1.6em;
            }
            .pr_attachments {
                margin-top: 6px;
                a {
                    margin-right: 5px;
                    font-size: 10px;
                    font-weight: 500;
                    color: #fff;
                    text-transform: uppercase;
                    padding: 2px 5px 2px 5px;
                    background-color: #bbb;
                    border-radius: 2px;
                }
            }

        }
        
    }

}

